/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  /* background-color: #5e6ab8; */
  /* background-color: #0a192f; */
  background: #01111c;
  background: linear-gradient(10deg, #021e3e, #01111c);
  /* background: linear-gradient(5deg, #000E1E, #2c2b53); */
  /* background: linear-gradient(to bottom, #4e73df, #4d6afc, #3762f3); */
}

a {
  color: #2487ce;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2487ce;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3e9bdd;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: transparent;
  z-index: 997;
  padding: 15px 0;
  /* border-bottom: 1px solid #e6f2fb; */
}

#header.header-scrolled {
  background: #fff;
  /* Change background to white on scroll */

  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #16507b;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  color: #ffffff;
}

#header.header-scrolled .navbar ul {
  position: relative;
  color: #000;
  /* Change color to black on scroll for navbar li */
}

.navbar li {
  position: relative;
  color: #ffffff;
}

#header.header-scrolled .navbar li a {
  position: relative;
  color: #000;
  /* Change color to black on scroll for navbar li */
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: #ffff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  /* background: #2487ce; */
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 30px;
  /* color: #fff; */
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #000;
  background: #39FF14;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #2487ce;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #124265;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 38, 58, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #124265;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #2487ce;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #2487ce;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: #000E1E top center; */
  /* background: url("../img/hero-bg.jpg") top center; */
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  /* background-color: #000E1E; */
  /* background: linear-gradient(5deg, #000E1E, #2c2b53); */
  /* background: linear-gradient(5deg, rgba(0, 14, 30, 0.8) 80%, rgba(37, 36, 101, 0.2) 20%); */
  /* background-color: rgba(0, 14, 30, 0.5); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 80px;
}

#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* #hero h2 {
  color: #ffffff;
  margin: 10px 0 0 0;
  font-size: 56px;
  font-weight: 700;
} */

#hero h2 {
  color: #ffffff;
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #000;
  background: #39FF14;
}

#hero .btn-get-started:hover {
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;
}

#hero .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;

}

#hero .btn-learn-more:hover {
  color: #000;
  background: #39FF14;
}

#hero .icon-boxes {
  margin-top: 100px;
}

#hero .icon-box .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 52px;
  text-align: center;
  letter-spacing: -1.04px;
  line-height: 76px;
  white-space: nowrap;
}

#hero .icon-box .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: normal;
}

#hero .icon-box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 48px;
  left: 32px;
}

#hero .icon-box-bottom .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: 150px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -1.04px;
  line-height: 76px;
  white-space: nowrap;
}

#hero .icon-box-bottom .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: normal;
}

#hero .icon-box-bottom {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 48px;
  left: 32px;
}


#hero .description {
  position: absolute;
  width: 302px;
  top: 264px;
  left: 32px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

#hero .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}

#hero .icon-box:hover {
  transform: scale(1.08);
}

#hero .icon-box:hover .title a {
  color: #2487ce;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  #hero {
    height: auto;
  }
}

@media (max-width: 992px) {
  #hero {
    height: auto;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.frame_hero {
  position: relative;
  width: 400px;
  height: 354px;
  margin-left: 25px;
  background-image: url(./img/rectangle-7.svg);
  background-size: 100% 100%;
}

.frame_hero .text-wrapper {
  position: absolute;
  width: 302px;
  top: 264px;
  left: 32px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame_hero .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 48px;
  left: 32px;
}

.frame_hero .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 52px;
  text-align: center;
  letter-spacing: -1.04px;
  line-height: 76px;
  white-space: nowrap;
}

.frame_hero .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: normal;
}

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients {
  padding: 40px 0;
}

.clients .swiper {
  padding: 10px 0;
}

.clients .swiper-slide img {
  transition: 0.3s;
}

.clients .swiper-slide img:hover {
  transform: scale(1.1);
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  /* background: url("../img/ppc/Rectangle 7.png"); */
  background: linear-gradient(-90deg, #021f40, #01111c);
  background-size: 100% auto;
  /* Specify the width as 100% and let the height adjust automatically */
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-sizing: border-box;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #2487ce;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/* About US */
.container-about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-section {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
}

.about-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: inherit;
  transform: skewY(-6deg);
  transform-origin: 100%;
}

.about-heading {
  font-size: 2em;
  margin-bottom: 10px;
}

.about-description {
  margin-bottom: 30px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-card {
  background: #ffffff0a;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  width: calc(33% - 20px);
  box-sizing: border-box;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stat-card h3 {
  font-size: 3em;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.stat-card p {
  margin: 5px 0;
}

.cta-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #000;
  background: #39FF14;
}

.cta-button:hover {
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;
}

@media (max-width: 768px) {
  .about {
    background-size: contain;
    background-position: top center;
  }

  .stat-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .stat-card {
    width: 100%;
  }

  .about-heading {
    font-size: 1.5em;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts .content {
  padding: 30px 0;
}

.counts .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #ffff;
}

.counts .content p {
  margin-bottom: 0;
  color: #39FF14;
}

.counts .content .count-box {
  padding: 20px 0;
  width: 100%;
}


.counts .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #151515;
  margin-left: 50px;
}

.counts .content .count-box h4 {
  padding: 15px 0 0 0;
  margin: 0 0 0 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.counts .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #a5a5a5;
}

.counts .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #3b3b3b;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .content .count-box a:hover {
  color: #626262;
}

.counts .image {
  background: url("../img/ppc/2.png") center center no-repeat;
  background-size: cover;
  min-height: 400px;
}

@media (max-width: 991px) {
  .counts .image {
    text-align: center;
  }

  .counts .image img {
    max-width: 80%;
  }
}

@media (max-width: 667px) {
  .counts .image img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Our Services Section
--------------------------------------------------------------*/
.services {
  padding: 60px 0;
}

.services .service-item1 {
  padding: 40px;
  background: transparent;
  height: 100%;
  border-radius: 10px;
}

/* .services .service-item1 h3 {
  font-weight: 700;
  font-size: 34px;
  color: #ffff;
} */

.services .service-item1 h3 {
  color: #ffff;
  font-weight: 700;
  margin: 0 0 10px 0;
  padding-bottom: 8px;
  font-size: 55px;
  position: relative;
  display: inline-block;
  /* border-bottom: 4px solid #eeeeee; */
  transition: 0.3s;
}

.services .service-item1 p {
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
  color: #39FF14;
}

/* 
.services .service-item1 p {
  margin-bottom: 0;
  color: #39FF14;
} */

.services .service-item {
  padding: 40px;
  background: #16213e;
  height: 100%;
  border-radius: 10px;
}

.services .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.services .service-item .icon i {
  color: var(--color-default);
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.services .service-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #eeeeee;
  border-radius: 50px;
  z-index: 1;
  top: 10px;
  right: -20px;
  transition: 0.3s;
}

.services .service-item h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 10px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  /* border-bottom: 4px solid #eeeeee; */
  transition: 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #a5a5a5;
}

.services .service-item ul {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #a5a5a5;
}


.services .service-item:hover .icon:before {
  background: #00b6a1;
}

.services .service-item:hover h3 {
  border-color: var(--color-primary);
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
.frame {
  width: 100%;
  padding: 60px 0;
  /* This will make the frame take the full width of its parent */
  display: flex;
  justify-content: center;
  /* This centers the content horizontally */
  align-items: center;
  /* This centers the content vertically */
  flex-direction: column;
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 64px; */
  /* position: relative; */
  background: rgba(3, 38, 90, 0.466);
  border-radius: 16px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.frame .div {
  padding: 60px 0;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  width: 1240px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto; */
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #39ff14;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 52px;
  letter-spacing: -1.04px;
  line-height: 62px;
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* This will center the child elements horizontally */
  justify-content: flex-start;
  /* Aligns children to the top of the container */
  gap: 1px;
  /* This adds space between the children */
  width: 100%;
  max-width: 1240px;
  /* or any other max width you prefer */
  margin: 0 auto;



  /* padding: 60px 0;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.frame .div-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 630px;
  background-color: #ffffff0a;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.frame .div-3:last-child {
  margin-bottom: 0;
  /* Removes bottom margin from the last .div-3 */
}

.frame .div-4 {
  display: flex;
  flex-direction: column;
  width: 514px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 47px;
  left: 56px;
}

.frame .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: -0.8px;
  line-height: normal;
}

.frame .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #afafaf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
}

.label {
  position: relative;
  align-self: stretch;
  /* width: 100%;
  height: 630px; */
  background-color: transparent;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
}

.label .project_text {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
}

.frame .overlap-group-wrapper {
  position: absolute;
  width: 530px;
  height: 490px;
  top: 40px;
  left: 670px;
  background-color: #ffffff0a;
  border-radius: 16px;
  overflow: hidden;
}

.frame .overlap-group {
  position: relative;
  width: 450px;
  height: 458px;
  top: 8px;
  left: 40px;
}

.frame .image {
  position: absolute;
  width: 450px;
  height: 277px;
  top: 181px;
  left: 0;
  object-fit: cover;
}

.frame .img {
  position: absolute;
  width: 282px;
  height: 292px;
  top: 0;
  left: 84px;
}

.frame .div-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 440px;
  left: 56px;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: -0.8px;
  line-height: normal;
}

.frame .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 0px 16px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #afafaf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.frame .div-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 440px;
  left: 266px;
}

.frame .arrow-forward {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 457px;
  left: 565px;
}

.frame .div-7 {
  display: inline-flex;
  align-items: center;
  /* gap: 7px; */
  padding: 0 32px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 32px;
  overflow: hidden;
  /* border: 1px solid; */
  /* border-color: #39ff14; */
}

.frame .text-wrapper-6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  text-decoration: underline;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;

}

.frame .text-wrapper-6:hover {
  color: #000;
  background: #39FF14;
}

.frame .icon {
  position: relative;
  width: 15.03px;
  height: 15.03px;
}

#project_read_more .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;

}

#project_read_more .btn-learn-more:hover {
  color: #000;
  background: #39FF14;
}


/* .frame .image,
.frame .img {
  max-width: 100%;
  height: auto;
} */
/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials {
  --background-color: color-mix(in srgb, #39FF14, transparent 97%);
}

.testimonials .testimonial-item {
  background-color: #ffffff;
  box-shadow: 0px 0 20px color-mix(in srgb, #3d4348, transparent 90%);
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid var(--background-color);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: color-mix(in srgb, #3d4348, transparent 40%);
  margin: 0;
}

.testimonials .testimonial-item p {
  color: #000000;
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-wrapper {
  height: auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: color-mix(in srgb, #3d4348, transparent 85%);
  opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #39FF14;
}

.testimonials .swiper-slide {
  opacity: 0.3;
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }

  .testimonials .swiper-pagination {
    margin-top: 0;
  }

  .testimonials .testimonial-item {
    margin: 40px 20px;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

/*--------------------------------------------------------------
# OnBoarding Section
--------------------------------------------------------------*/
.frame_onBoard {
  width: 100%;
  height: 200%;
  padding: 50px 120px;
  padding-bottom: 150px;
  /* border-radius: 16px; */
  margin-top: 60px;
  /* margin-left: 120px; */
  display: inline-flex;
  align-items: flex-start;
  gap: 63px;
  background: linear-gradient(to bottom, #042750, #24243e, #0f0c29);
  /* This is the gradient color from the image */
  position: relative;
}



.frame_onBoard .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
  position: relative;
  flex: 0 0 auto;
}

/* 
.frame_onBoard {
  display: inline-flex;
  align-items: flex-start;
  gap: 63px;
  position: relative;
}



.frame_onBoard .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
  position: relative;
  flex: 0 0 auto;
} */

.frame_onBoard .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 610px;
  /* align-items: flex-start; */
  gap: 8px;
  /* position: relative; */
  /* flex: 0 0 auto; */
  margin: 0 auto;
}



.frame_onBoard .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #39ff14;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame_onBoard .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 52px;
  letter-spacing: -1.04px;
  line-height: 62px;
}

.frame_onBoard .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.frame_onBoard .group {
  height: 230.21px;
  position: relative;
  width: 610px;
}

.frame_onBoard .div-4 {
  display: flex;
  flex-direction: column;
  width: 505px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 16px;
  left: 105px;
}

.frame_onBoard .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: normal;
}

.frame_onBoard .p {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #afafaf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
}

.frame_onBoard .arrow-forward {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 0;
  left: 0;
  background-color: #ffffff0a;
  border-radius: 48px;
}

.frame_onBoard .text-wrapper-4 {
  position: absolute;
  top: 17px;
  left: 26px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: normal;
}

.frame_onBoard .group-2 {
  height: 263px;
  position: relative;
  width: 610px;
}

.frame_onBoard .div-5 {
  display: flex;
  flex-direction: column;
  width: 505px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 19px;
  left: 105px;
}

.frame_onBoard .text-wrapper-5 {
  left: 23px;
  position: absolute;
  top: 17px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: normal;
}

.frame_onBoard .text-wrapper-6 {
  left: 22px;
  position: absolute;
  top: 17px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: normal;
}

.frame_onBoard .image-wrapper {
  position: relative;
  width: 567px;
  height: 968px;
  background-color: #ffffff0a;
  border-radius: 16px;
  overflow: hidden;
}

.frame_onBoard .image {
  position: absolute;
  width: 567px;
  height: 968px;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: transparent;
  padding: 80px 0;
}

.cta h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}

.cta h1 span {
  color: #39FF14;
  font-size: 50px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #000;
  background: #39FF14;
}

.cta .cta-btn:hover {
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;
}

/* .cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 4px;
}

.cta .cta-btn:hover {
  background: #fff;
  color: #5cb874;
} */

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
  /* background: linear-gradient(5deg, #000E1E, #2c2b53); */
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  margin-bottom: 20px;
  padding-bottom: 0;
  text-align: left;
  color: #39FF14;
}

.section-title p {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Sections General Center
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
  /* background: linear-gradient(5deg, #000E1E, #2c2b53); */
}

.section-title-center {
  text-align: center;
  padding-bottom: 30px;
}

.section-title-center h2 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  margin-bottom: 2px;
  padding-bottom: 0;
  text-align: center;
  color: #39FF14;
}

.section-title-center p {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  margin-top: 100px;
}

.contact .info-item {
  padding: 10px 0 30px 0;
  background-color: #011322;
  box-shadow: 0 0 4px color-mix(in srgb, var(--default-color), transparent 85%);
}

.contact_quote_form {
  background: linear-gradient(360deg, #01111c, #021e3e);
  /* opacity: 4%; */
  border-radius: 20px;
  padding-top: 20px;
}

.contact .info-item i {
  color: #388da8;
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  box-shadow: 0 2px 3px color-mix(in srgb, #011322, transparent 85%);
}

.contact .info-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .php-email-form {
  height: 100%;
  /* margin-top: -50px; */
  padding: 30px;
  box-shadow: 0 0 4px color-mix(in srgb, var(--default-color), transparent 85%);
}

@media (max-width: 575px) {
  .contact .php-email-form {
    padding: 20px;
  }
}

.contact .php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: var(--background-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #388da8;
  border-top-color: var(--background-color);
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 12px;
  padding: 15px 15px;
  box-shadow: none;
  border-radius: 20px;
  color: #ffffff;
  /* font-weight: bold; */
  background-color: #011322;
  /* opacity: 12%; */
  border-color: #011322;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: #388da8;
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: #ffffff;
}

.contact .php-email-form button[type=submit] {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #000;
  background: #39FF14;
}

.contact .php-email-form button[type=submit]:hover {
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;
}


@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Project Overview
--------------------------------------------------------------*/
.about_project_overview {
  /* background: url("../img/ppc/Rectangle 7.png"); */
  background: linear-gradient(-90deg, #021f40, #01111c);
  background-size: 100% auto;
  /* Specify the width as 100% and let the height adjust automatically */
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-sizing: border-box;
}

.about_project_overview .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about_project_overview .content ul {
  list-style: none;
  padding: 0;
}

.about_project_overview .content ul li {
  padding-left: 28px;
  position: relative;
}

.about_project_overview .content ul li+li {
  margin-top: 10px;
}

.about_project_overview .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #2487ce;
  line-height: 1;
}

.about_project_overview .content p:last-child {
  margin-bottom: 0;
}

/* About US */
.container-about_project_overview {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about_project_overview-section {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
}

.about_project_overview-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: inherit;
  transform: skewY(-6deg);
  transform-origin: 100%;
}

.about_project_overview-heading {
  font-size: 2em;
  margin-bottom: 10px;
}

.about_project_overview-description {
  margin-bottom: 30px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-card {
  background: #ffffff0a;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  width: calc(33% - 20px);
  box-sizing: border-box;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stat-card h3 {
  font-size: 3em;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.stat-card p {
  margin: 5px 0;
}

.cta-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #000;
  background: #39FF14;
}

.cta-button:hover {
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;
}

@media (max-width: 768px) {
  .about_project_overview {
    background-size: contain;
    background-position: top center;
  }

  .stat-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .stat-card {
    width: 100%;
  }

  .about_project_overview-heading {
    font-size: 1.5em;
  }
}

/*--------------------------------------------------------------
# Project Percentage
--------------------------------------------------------------*/
.about_percentage_project {
  /* background: url("../img/ppc/Rectangle 7.png"); */
  background: linear-gradient(-90deg, #021f40, #01111c);
  background-size: 100% auto;
  /* Specify the width as 100% and let the height adjust automatically */
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-sizing: border-box;
}

.about_percentage_project .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about_percentage_project .content ul {
  list-style: none;
  padding: 0;
}

.about_percentage_project .content ul li {
  padding-left: 28px;
  position: relative;
}

.about_percentage_project .content ul li+li {
  margin-top: 10px;
}

.about_percentage_project .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #2487ce;
  line-height: 1;
}

.about_percentage_project .content p:last-child {
  margin-bottom: 0;
}

/* About US */
.container-about_percentage_project {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about_percentage_project-section {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
}

.about_percentage_project-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: inherit;
  transform: skewY(-6deg);
  transform-origin: 100%;
}

.about_percentage_project-heading {
  font-size: 2em;
  margin-bottom: 10px;
}

.about_percentage_project-description {
  margin-bottom: 30px;
}

.stats_container_project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-card-project {
  background: #ffffff0a;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  width: calc(23% - 20px);
  box-sizing: border-box;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stat-card-project h3 {
  font-size: 3em;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.stat-card-project p {
  margin: 5px 0;
}

.cta-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border-radius: 30px;
  color: #000;
  background: #39FF14;
}

.cta-button:hover {
  color: #fff;
  background: transparent;
  border: 2px solid #39FF14;
}

.project_img {
  margin-left: 50px;
  width: 1200px;
  height: 500px;
}

@media (max-width: 768px) {
  .about_percentage_project {
    background-size: contain;
    background-position: top center;
  }

  .stat-card-project {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .stat-card-project {
    width: 100%;
  }

  .about_percentage_project-heading {
    font-size: 1.5em;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  border-top: #fff 1px solid;
  background: linear-gradient(360deg, #01111c, #021e3e);
  padding: 5rem 0 2.5rem 0;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: #ffffff;
}

.footer .copyright {
  margin-bottom: 0px;
}

.footer .copyright,
.footer .credits {
  font-size: 14px;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  transition: 0.3s background ease;
  color: #0d1e2d;
  line-height: 0;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #fff;
  background: #2d71a1;
}

.social a i {
  line-height: 0;
}